#inquiry-write-wrapper 
{
    display: flex;
    overflow-x: hidden;

    margin-top: 50px;

    border: 1px solid rgba(240, 240, 240, 1);
    border-radius: 8px;
}

.inquiry-write-main-box 
{
    width: 100%;
    min-width: 1000px;

    display: flex;
    flex-direction: column;

    padding: 45px;
    gap: 30px;
}

.inquiry-write-title-box 
{
    width: 100%;

    align-items: center;
    flex-grow: 1;

    background-color: rgba(240, 240, 240, 1);
    border-radius: 8px;
}

.inquiry-write-title-input 
{
    border: none;
    outline: none;
    background: none;
    
    width: 100%;
    padding: 0px 5px;

    font-family: 'NanumSquareRound';
    font-size: 20px;
    font-weight: 400;
    line-height: 200%;
    color: rgba(50, 50, 50, 1);
}

.inquiry-write-contents-box 
{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 30px;
}

.inquiry-write-contents-textarea 
{
    border: none;
    outline: none;
    background: none;
    resize: none;
    
    width: 1000px;
    min-height: 300px;

    background-color: rgba(240, 240, 240, 1);
    border-radius: 8px;

    font-family: 'NanumSquareRound';
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(50, 50, 50, 1);
}

.inquiry-bottom-button-box 
{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 15px;
}

.inquiry-file-input 
{
    display: inline-block;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    font-family: 'KCC-Hanbit';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    cursor: pointer;
    border: 1px solid rgba(200, 200, 200, 1);
    color: rgba(138, 146, 166, 1);
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}


.public-button 
{
    width: 50px;

    text-align: center;

    padding: 5px;

    background-color: rgba(245, 138, 35, 0.6);
    border-radius: 5px;

    font-family: 'NanumSquareRound';
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
}

.un-public-button 
{
    width: 50px;

    text-align: center;

    padding: 5px;

    background-color: rgba(245, 138, 35, 1);
    border-radius: 5px;

    font-family: 'NanumSquareRound';
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
}
/*분석 완료*/