#resign-wrapper 
{
  height: 550px;
  margin-top: 10px;
}

.resign-container 
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resign-title 
{
  margin-top: 30px;

  font-family: 'KCC-Hanbit';
  font-size: 30px;
  font-weight: bold;
  color: rgba(50, 50, 50, 1);
}

.resign-box 
{
  height: 100px;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  text-align: center;

  gap: 20px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 100px;

  border-top: 1px solid rgba(238, 238, 238, 1);
}

.caution-title 
{
  font-family: 'NanumSquareRound';
  font-size: 23px;
  font-weight: bold;
  color: rgba(255, 0, 0, 1);
}

.caution-contents 
{
  font-family: 'NanumSquareRound';
  font-size: 20px;
  font-weight: 400;
  color: rgba(50, 50, 50, 1);
}

.caution-contents p 
{
  margin-top: 17px;
  color: rgba(150, 150, 150, 1);
}

.resign-password 
{
  width: 80%;

  margin-bottom: 10px;
}

.delete-button 
{
  width: 100px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(170, 170, 170, 1);
  border-radius: 6px;

  font-family: 'NanumSquareRound';
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.delete-button:hover
{
  cursor: pointer;
  opacity: 0.85;
}
/*분석 완료*/